.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
nowPaperCV/build

.gradle/2.2.1/taskArtifacts/cache.properties.lock
.gradle/2.2.1/taskArtifacts/fileHashes.bin
.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
.gradle/2.2.1/taskArtifacts/outputFileStates.bin
.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
.idea/checkstyle-idea.xml
.idea/workspace.xml
build/intermediates/model_data.bin
NowPaperCV.iml
nowPaperCV/build.gradle
nowPaperCV/build/generated/source/buildConfig/debug/com/dunrite/now/BuildConfig.java
nowPaperCV/build/generated/source/r/debug/android/support/v7/appcompat/R.java
nowPaperCV/build/generated/source/r/debug/android/support/v7/cardview/R.java
nowPaperCV/build/generated/source/r/debug/com/dunrite/now/R.java
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$attr.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$color.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$id.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$style.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$styleable.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/cardview/R$style.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/ArtSource.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/BuildConfig.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/MainActivity$ColorFragment.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/MainActivity.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/MyPerformanceArrayAdapter.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$attr.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$bool.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$color.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$dimen.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$drawable.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$id.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$integer.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$layout.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$menu.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$string.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$style.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$styleable.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$xml.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/RecAdapter$ViewHolder.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/SettingsActivity.class
.gradle/2.2.1/taskArtifacts/cache.properties.lock
.gradle/2.2.1/taskArtifacts/fileHashes.bin
.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
.gradle/2.2.1/taskArtifacts/outputFileStates.bin
.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
.idea/workspace.xml
build/intermediates/model_data.bin
NowPaperCV.iml
nowPaperCV/build.gradle
nowPaperCV/build/generated/source/buildConfig/debug/com/dunrite/now/BuildConfig.java
nowPaperCV/build/generated/source/r/debug/android/support/v7/appcompat/R.java
nowPaperCV/build/generated/source/r/debug/android/support/v7/cardview/R.java
nowPaperCV/build/generated/source/r/debug/com/dunrite/now/R.java
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$attr.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$color.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$id.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$style.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$styleable.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/cardview/R$style.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/ArtSource.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/BuildConfig.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/MainActivity$ColorFragment.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/MainActivity.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/MyPerformanceArrayAdapter.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$attr.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$bool.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$color.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$dimen.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$drawable.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$id.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$integer.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$layout.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$menu.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$string.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$style.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$styleable.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$xml.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/RecAdapter$ViewHolder.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/SettingsActivity.class
.gradle/2.2.1/taskArtifacts/cache.properties.lock
.gradle/2.2.1/taskArtifacts/fileHashes.bin
.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
.gradle/2.2.1/taskArtifacts/outputFileStates.bin
.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
.idea/workspace.xml
build/intermediates/model_data.bin
NowPaperCV.iml
nowPaperCV/build.gradle
nowPaperCV/build/generated/source/buildConfig/debug/com/dunrite/now/BuildConfig.java
nowPaperCV/build/generated/source/r/debug/android/support/v7/appcompat/R.java
nowPaperCV/build/generated/source/r/debug/android/support/v7/cardview/R.java
nowPaperCV/build/generated/source/r/debug/com/dunrite/now/R.java
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$attr.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$color.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$id.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$style.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$styleable.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/cardview/R$style.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/ArtSource.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/BuildConfig.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/MainActivity$ColorFragment.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/MainActivity.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/MyPerformanceArrayAdapter.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$attr.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$bool.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$color.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$dimen.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$drawable.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$id.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$integer.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$layout.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$menu.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$string.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$style.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$styleable.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$xml.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/RecAdapter$ViewHolder.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/SettingsActivity.class
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/AndroidManifest.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/classes.jar
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/R.txt
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/anim/abc_fade_in.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/anim/abc_fade_out.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/anim/abc_slide_in_bottom.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/anim/abc_slide_in_top.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/anim/abc_slide_out_bottom.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/anim/abc_slide_out_top.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/color/abc_background_cache_hint_selector_material_dark.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/color/abc_background_cache_hint_selector_material_light.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/color/abc_primary_text_disable_only_material_dark.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/color/abc_primary_text_disable_only_material_light.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/color/abc_primary_text_material_dark.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/color/abc_primary_text_material_light.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/color/abc_search_url_text.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/AndroidManifest.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/classes.jar
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/R.txt
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/anim/abc_fade_in.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/anim/abc_fade_out.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/anim/abc_slide_in_bottom.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/anim/abc_slide_in_top.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/anim/abc_slide_out_bottom.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/anim/abc_slide_out_top.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/color/abc_background_cache_hint_selector_material_dark.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/color/abc_background_cache_hint_selector_material_light.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/color/abc_primary_text_disable_only_material_dark.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/color/abc_primary_text_disable_only_material_light.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/color/abc_primary_text_material_dark.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/color/abc_primary_text_material_light.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/color/abc_search_url_text.xml
nowPaperCV/build/generated/source/buildConfig/debug/com/dunrite/now/BuildConfig.java
nowPaperCV/build/generated/source/r/debug/android/support/v7/appcompat/R.java
nowPaperCV/build/generated/source/r/debug/android/support/v7/cardview/R.java
nowPaperCV/build/generated/source/r/debug/com/dunrite/now/R.java
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$anim.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$attr.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$bool.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$color.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$dimen.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$drawable.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$id.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$integer.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$layout.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$string.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$style.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R$styleable.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/appcompat/R.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/cardview/R$attr.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/cardview/R$dimen.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/cardview/R$style.class
nowPaperCV/build/intermediates/classes/debug/android/support/v7/cardview/R$styleable.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/ArtSource.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/BuildConfig.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/MainActivity$ColorFragment.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/MainActivity.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/MyPerformanceArrayAdapter.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$anim.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$array.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$attr.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$bool.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$color.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$dimen.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$drawable.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$id.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$integer.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$layout.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$menu.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$string.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$style.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$styleable.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R$xml.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/R.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/RecAdapter$ViewHolder.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/RecAdapter.class
nowPaperCV/build/intermediates/classes/debug/com/dunrite/now/SettingsActivity.class
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/AndroidManifest.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/classes.jar
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/R.txt
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/anim/abc_fade_in.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/anim/abc_fade_out.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/anim/abc_slide_in_bottom.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/anim/abc_slide_in_top.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/anim/abc_slide_out_bottom.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/anim/abc_slide_out_top.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/color/abc_background_cache_hint_selector_material_dark.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/color/abc_background_cache_hint_selector_material_light.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/color/abc_primary_text_disable_only_material_dark.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/color/abc_primary_text_disable_only_material_light.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/color/abc_primary_text_material_dark.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/color/abc_primary_text_material_light.xml
nowPaperCV/build/intermediates/exploded-aar/com.android.support/appcompat-v7/21.0.3/res/color/abc_search_url_text.xml
